.custom-navbar {
    background-color: skyblue !important;
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    text-align: center;
    width: 100%;
    color: white !important;
  }
  
  .custom-navbar .nav-link {
    margin: 0 10px;
  }